[2014-07-27 15:14] JerrySievert opened #1 "access to request in validate function?"
would you be willing to entertain access to the request object in the validate function?  either by changing the method signature or using `call` to bind `request` to `this`?

the scenario that i'm envisioning grants different access to different paths based on the bearer token.

thanks!

[2014-07-30 05:38] #1 closed, assigned to johnbrett

[2014-08-30 15:52] johnbrett opened #5 "Map `this` to request object inside of validateFunc"

[2014-08-30 15:53] #5 closed, assigned to johnbrett

[2014-09-04 10:47] adrianblynch opened #6 "Why delete access token from request.query"
Hi John, out of interest, why do you delete the access token field from request.query in lib/index.js:26?

delete request.query[settings.accessTokenName];

[2014-09-08 15:16] #6 closed, assigned to johnbrett

[2014-09-15 20:24] atomantic opened #7 "Support for Multiple Authorization header fields"
I have a need to support multiple Authorization header fields. e.g.

[code]

The current code only allows a single authorization field: `Authorization: Bearer xxx`

[2014-09-16 09:43] #7 closed, assigned to johnbrett

[2014-09-22 14:01] jnath opened #9 "reply().code(500) is not supported"
Hello.

I have a pb when i pass a error (boom) in `callback` of `validateFunc`

[code]

trow a error

[code]

and when a console.log reply i can't find `code` function

[code]

I make something wrong ?

[2014-09-23 09:59] #9 closed, assigned to johnbrett

[2014-10-10 15:25] devinivy opened #10 "Ensure plugin is up to date for hapi 7"
I use this in a hapi v6 project, and I'm looking to upgrade to hapi v7.  I don't expect there will be many- if any- breaking changes to this project, but package.json needs to be updated.  See the release notes: https://github.com/hapijs/hapi/issues/2023 .

[2014-10-10 16:21] #10 closed, assigned to johnbrett

[2014-11-27 09:15] bricss opened #12 "Compatibility with Hapi 8"
We need to ensure that this plugin works well with brand new Hapi 8.

[2014-12-10 14:49] #12 closed, assigned to johnbrett

[2015-01-10 06:53] ramonDecoda opened #15 "The validation method is crashing when calling from mongoDb"
Sorry to bother am new Hapijs and am trying your plugin using mongo as back end when i look for the user using User.findById in the validation method i  get this exception:tried everything but here i am.

    Debug: internal, implementation, error
    TypeError: Property '_next' of object function (err, response, data) {

        reply._data = data;                 // Held for later
        return

[2015-01-10 10:52] johnbrett commented on #15
Hi @ramonDecoda, I need a bit more information to help with debugging. What versions of Hapi and Hapi-auth-bearer-token are you using?

Also, can you paste in the full method code? If the code is on github I could take a look at it either?

Is User.findById a promise that you are treating as a callback also ?

[2015-01-10 13:14] ramonDecoda commented on #15
I don't have the source on Git but i will upload part of the  code.Everything works Am getting the token and decryption it in the validation method but everything goes wrong when returning the user object from the DB but.

Am use using "hapi-auth-bearer-token": "^3.1.0",

am registering the plugin at the creation of service
[code]
this is the class autho were i placed validate method config has th

[2015-01-10 14:02] johnbrett commented on #15
No worries about the trouble. It only gives me a better understanding of Hapi :)

So it looks to me like you're using the hapi-auth-bearer-token just fine. Can you put a console log before each callback and see which one is being called and with what?

I've two theories:
1. Either the users object returned is a promise causing the above error // We'll catch this by console logging the user object

[2015-01-12 07:08] ramonDecoda commented on #15
Found the bug it was the last  return in the validation function had to fix it if else and it worked thanks
i forget its js.

[code]

[2015-01-12 07:08] #15 closed

[2015-01-12 10:41] johnbrett commented on #15
Happy to hear you got it sorted, any further problems don't hesitate to get in touch.

[2015-01-22 06:47] technowar opened #16 "Error: Unknown authentication strategy"
I am trying to use this module to enable bearer token on my app. However, I am getting the error shown in the title.

I have been stuck for days now. Hoping anyone could help me.

I have `user.js` route

[code]

Now, inside my `server.js`,

[code]

But I get `Error: Unknown authentication strategy: simple in path: /v1/users`

Complete error message:

[code]

[2015-01-22 08:11] technowar commented on #16
I figured it out.

[2015-01-22 08:11] #16 closed

[2015-01-22 08:50] johnbrett commented on #16
Hi Johmel, glad you got sorted, can you post the solution so anyone else
hitting the same problem will be able to figure it out? Thank you! Any
other problems let me know.

On Thu, 22 Jan 2015 08:11 Johmel Rey Pintor <notifications@github.com>
wrote:

[2015-01-22 14:27] technowar commented on #16
Instead of adding

[code]
to my `server.js` file, I added it to my `index.js` inside my `/api` folder.

My `index.js` now looks like this,

[code]

[2015-01-22 14:38] johnbrett commented on #16
Ah so you were registering a route with the 'simple' auth strategy before you had actually registered the 'simple' strategy itself, very easy to do. Thanks for posting the solution to the issue.

One thing I usually do for auth in Hapi is to create a plugin called `authentication` which register's the auth scheme plugin - hapi-auth-bearer-token in this case, and then also registers the strategy, t

[2015-01-31 03:57] technowar commented on #16
@johnbrett yes please.

[2015-02-02 13:29] johnbrett commented on #16
Hey @technowar, here is an example of an authentication plugin, where you can encapsulate all auth related functionality, e.g. scheme registration, strategy function.

Registering the authentication plugin: https://github.com/johnbrett/hapi-level-sample/blob/master/index.js#L7
The auth plugin itself: https://github.com/johnbrett/hapi-level-sample/blob/master/plugins/authentication/index.js

Any qu

[2015-02-03 12:30] technowar commented on #16
Thank you @johnbrett.

[2015-03-28 18:10] JakubJagoda opened #17 "Add support for authorization payload"
In hapi authorization scheme is expected to return `authenticate` function, however the data stored in payload is then not available to the user. But the scheme can also return `payload` function which then can be used to use payload data during authorization.

I needed this functionality in one of the projects, therefore I already wrote the necessary code: https://github.com/johnbrett/hapi-auth-b

[2015-03-29 23:41] jgauna commented on #16
I can't figure out how to solve this issue. I'm using this hapi js boilerplate https://github.com/poeticninja/hapi-ninja from @poeticninja and I have this code:

base.js
[code]

And in plugins.js

[code]

I'm getting ```Error: Unknown authentication strategy: simple in path: /createOrder```

[2015-03-30 04:11] jgauna opened #19 "Can't use auth with CORS"
Here's my route:

[code]

And in the client:

[code]

Am I missing something?

Regards

[2015-03-30 09:06] johnbrett commented on #16
Hi @jgauna, the options parameter in `server.register()` generally expects an object of configuration properties, although I suppose you can use it for whatever you want if its your own plugin. Either way, `hapi-auth-bearer-token` doesn't expect the default strategy to be passed in that way, so never calls the function passed in meaning the `simple` strategy is never set. Is there any reason you w

[2015-03-30 09:10] johnbrett commented on #19
Hey @jgauna, I use this plugin with CORS all the time so it definitely supports it :)

What response are you getting back from the api when this xhr returns?

[2015-03-30 09:24] johnbrett commented on #17
Hey @JakubJagoda, thanks for contributing this. This module always maintains 100% test coverage - can you get test coverage back to 100% to go with this PR? `npm test` will give you all the coverage info you need. I can any refactoring needed after. Let me know if you need any help writing tests.

[2015-03-30 09:46] JakubJagoda commented on #17
Sure, @johnbrett, I'll take care of the tests today's evening (in a few hours)

[2015-03-30 14:22] jgauna commented on #16
That won't work. Here's what I did:

server.js

[code]

auths.js

[code]

Thanks!

[2015-03-30 14:30] jgauna commented on #19
I'm getting

[code]

And the call

[code]

The odd thing is that if do not use this in my ajax call it works.

server
[code]

ajax call
[code]

On the other side if the domain is the same it works great with authorization.

Any ideas?

[2015-03-30 16:09] johnbrett commented on #16
I've a feeling the `server` variable in your auths.js is not actually a connection instance, just what is returned from Hapi.Server (presuming you are using Hapi 8 ??).

 `server.auth.strategy()` needs to be run against an actual server connection **instance** (acquired by running `server.connection()`).

Can you attach the rest of `server.js` so I can see how you're passing the connection instanc

[2015-03-30 19:06] jgauna commented on #16
I figured it out. I have this working now. The only issue I have is the one I opened in:

https://github.com/johnbrett/hapi-auth-bearer-token/issues/19

[2015-03-31 10:41] johnbrett commented on #19
Ok after looking into it in more details there seems to be two problems here.

1. Adding custom headers launches a preflight [OPTIONS request](https://remysharp.com/2011/04/21/getting-cors-working), for which you don't have a the OPTIONS route I imagine, thus the 404. This is solved by using a library like jQuery or you can handle this on the server with a catch all route like this:
[code]

2. `xh

[2015-03-31 20:54] jgauna commented on #19
I can't make it work yet. Here's my full code:

As it's right now I'm getting: ```XMLHttpRequest cannot load http://192.168.0.21:3000/api/syncImage. Invalid HTTP status code 401 ```

Route code (Just know I'm using a boilerplate and maybe the hapi code looks odd but it's ok)

[code]

And the client side:

[code]

Extra info:

- The same code works great from the same domain (where the node server

[2015-04-12 06:59] johnbrett commented on #19
Hey @jgauna I'm on holiday at the moment sorry for delay on this - will be back on the 18th if I don't get to it before then!!

[2015-04-12 19:51] jgauna commented on #19
Thanks for the answer @johnbrett. I was able to fix it using:

[code]

Now, all routes will have cors available and working with Authorization headers :bowtie:

Have a nice holidays!

[2015-04-12 19:52] #19 closed

[2015-04-19 11:57] johnbrett commented on #19
Hey @jgauna, glad you got sorted on this. Thanks for posting the solution also!

[2015-04-19 11:59] johnbrett commented on #17
Hi @JakubJagoda, sorry for late reply - I was away on holidays. Do you need a hand with writing the tests?

[2015-04-22 23:56] JakubJagoda commented on #17
hi @johnbrett! No, I don't need a hand, I'm familiar with jasmine test specs. I have been just _deadly_ busy recently, so had no time to write them. I'll do this as soon as I have some free time (hopefully soon).

[2015-04-28 13:14] johnbrett commented on #17
No worries @JakubJagoda, I know the feeling :)

[2015-08-18 12:59] molekilla opened #21 "Compatibility with Hapi 9"
Hi

Please add support for hapi 9.x

Thanks!
Rogelio

[2015-08-19 05:15] johnbrett commented on #21
Hi @molekilla, Hapi 9 is supported. Are you getting an error during npm install?

[2015-08-26 05:38] johnbrett commented on #21
Closing due to inactivity.

[2015-08-26 05:38] #21 closed

[2015-09-10 01:16] albertovasquez commented on #21
Yes I'm getting error during npm install

npm ERR! peerinvalid The package hapi does not satisfy its siblings' peerDependencies requirements!
npm ERR! peerinvalid Peer hapi-auth-bearer-token@3.1.1 wants hapi@>=8.x.x

[2015-09-10 01:30] albertovasquez commented on #21
nevermind .. after updating a couple other hapijs dependency issues that invalid notice went away

[2015-09-10 10:14] johnbrett commented on #21
Hi @albertovasquez, thanks for the update. Please let me know if you run into any other issues.

[2015-09-10 10:16] johnbrett commented on #17
Hi @JakubJagoda, I don't like leaving issues open for a long period of time so will close this due to inactivity - if you want to continue working on this or anyone else would like this feature added, I encourage you to re-open and we can discuss.

[2015-09-10 10:16] #17 closed

[2015-10-15 14:54] nelsonic opened #33 "Does this support try or optional mode?"
Hi @johnbrett
can you please clarify if this plugin supports the `try` or `optional` modes?
Tried searching in your docs and [tests](https://github.com/johnbrett/hapi-auth-bearer-token/blob/589749b8b3fc96ed1fc47dd2e73c32ab0d34e6d4/test/index.js) but did not find any reference to either.
Thanks.

[2015-10-22 08:23] johnbrett commented on #33
Hi @nelsonic - apologies only seeing this issue now. Are you referring to the server auth strategy options: http://hapijs.com/api#serverauthstrategyname-scheme-mode-options

Test for these would be covered in hapi's API tests, as it's how hapi interprets and uses the authentication scheme.

Are you having trouble finding an example using these scheme with try or optional modes?

[2015-11-19 18:39] PetrSnobelt opened #54 "mutliple headers and tokentype"
I think there should be used tokenType in regexp in this line, instead of hardcoded Bearer string
https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/lib/index.js#L49

also will be great if it works without tokentype by specifiing tokenType = ''

[2015-11-20 10:21] johnbrett commented on #54
Hi @PetrSnobelt. This is specifically a bearer authentication scheme, thus the hardcoded string.

Would something like this may suit your needs better: https://github.com/atomantic/hapi-auth-header?

[2015-11-20 10:55] PetrSnobelt commented on #54
OK, hapi-auth-header can be usefull for me, but in fact it looks like I move to jwt tokens...

I think that if you have soapToken options it should respect this settings. But it's up to you, you can close this. Thank you for hapi auth header link.

[2015-11-20 14:18] johnbrett commented on #54
Thanks for the feedback @PetrSnobelt. This particular module aims to be compliant with how bearer token usage is defined here in RFC6750: https://tools.ietf.org/html/rfc6750#page-5

Note in the request header field the specific "bearer" string. I think for your use case a more general authentication scheme like jwt or the one I linked will suit better.

[2015-11-20 14:18] #54 closed

[2015-12-05 23:42] #33 closed

[2015-12-15 08:54] AdrieanKhisbe opened #58 "Close all bot-PR"
@greenkeeperio-bot spammed the project with automatic PC.

Clean up would helpful :)

[2015-12-15 12:06] johnbrett commented on #58
All cleaned up :)

[2015-12-15 12:06] #58 closed

[2016-01-21 03:16] seymores opened #61 "Suppres error stack thrown when unauthorized"
Hi,
I am getting a lot of error stack in log whenever unauthorized attempt is made and I am wondering if there is a way to handle those error or suppress the verbose error log.

So this `return callback(null, false);` will produce the below

    Debug: auth, unauthenticated, error, simple
        Error: Bad token
        at ... /node_modules/hapi-auth-bearer-token/lib/index.js:72:39

[2016-02-13 22:52] echeadle opened #64 "Npm fails to load plugin. Fails with: The header content contains invalid characters"
I am new to npm and node.  I was following an example in hapi.js in Action and ran into this error.   I don't know if it is just because I downloaded the latest Node and NPE and there is a compatibility issue or if there might some mistake in the code.

npm ERR! Linux 4.2.0-27-generic
npm ERR! argv "/usr/bin/nodejs" "/usr/bin/npm" "install" "–-save" "hapi-auth-bearer-token"
npm ERR! node v5.6.0
np

[2016-02-15 08:55] johnbrett commented on #64
Hey @echeadle, is this happening for every module you try install or only with hapi-auth-bearer-token? Can you try it again, I wonder was there just a bad internet connection or something.

[2016-02-16 07:07] johnbrett commented on #61
Hey @seymores, sincere apologies for the delayed response. Is this still a problem for you?

[2016-03-05 10:03] johnbrett commented on #64
Closing due to inactivity, feel free to reopen if you're still having an issue.

[2016-03-05 10:03] #64 closed

[2016-03-05 10:08] johnbrett commented on #61
Closing due to inactivity, feel free to re-open if still a problem.

[2016-03-05 10:08] #61 closed

[2016-04-25 14:43] jonathansamines opened #77 "Expose the bearer token validator to the server?"
Hey thanks for this incredible plugin, I was wondering if it was possible to expose the validator logic to the hapi server. I have found useful to extend this module functionality for example with token validation functionality, to move all the token validation away into a plugin. Bell already does [that](https://github.com/hapijs/bell/blob/master/API.md#usage-without-a-strategy).

What do you thi

[2016-04-25 15:34] johnbrett commented on #77
Hey @jonathansamines, that sounds like a cool idea, and shouldn't need much work. Where would you see yourself using it?

To make the update will need to update:
  - lib/index.js: add a plugin.expose()
  - test/index.js: add a test and ensure we still have 100% coverage
  - README: update the documentation

[2016-05-02 17:57] jonathansamines commented on #77
@johnbrett sorry for the delay, I´m currently dealing with a custom token-validation logic, which uses the bearer token scheme, so I was trying to use this plugin as part of other plugin, to validate the bearer-token format and then use my custom logic in the other plugin.

It seems like hapi doesn´t support multi-step authentication strategies, so the only way to combine multiple strategies toget

[2016-05-10 14:21] johnbrett commented on #77
Hey @jonathansamines, sorry for the delay myself this time. That makes sense. Do you want to try put together a PR for this and we can work through it ?

[2016-07-08 04:57] jamesf7 opened #84 "Can user info be passed from tokeninfo call to hapi plugins which are seneca modules?"
Please find the code below. The plugins  we are using as modules have seneca routes. In validateFunc we are calling tokeninfo where we get user's info. We need help to understand how to pass the user's info over to the plugins/modules.

[code]

Thank you in advance if you can please help.

[2016-07-08 13:43] johnbrett commented on #84
Hey @jamesf7, the third argument of the callback function is called credentials, and is the usual hapi way of passing user info. This is object is then attached to the `request` object within route handlers.

You could modify this callback to be:
[code]

In your route handlers, this is then accessible via:
[code]
If your use case is a little more complicated than this, I'll need to see some plugin

[2016-07-08 13:44] johnbrett commented on #77
Hey @jonathansamines - haven't had any activity on this a while so will close it. If you want to work further on this, feel free to re-open - happy to work on it with you.

[2016-07-08 13:44] #77 closed

[2016-07-11 06:18] jamesf7 commented on #84
Thank you very much. got it working :)

[2016-07-11 06:18] #84 closed

[2016-07-28 14:20] AdriVanHoudt opened #87 "Expose token"
Is there a way to expose the token? In auth bearer simple I just added it to the credentials (https://github.com/Salesflare/hapi-auth-bearer-simple/blob/master/lib/index.js#L31) but there is probably a safer way :P

[2016-07-28 14:44] AdriVanHoudt opened #88 "Strategy chaining"
Currently it is not possible to chain strategies.
hapi docs: ` If the err does not include a message but does include a scheme name (e.g. Boom.unauthorized(null, 'Custom')), additional strategies will be attempted in order of preference.` (under https://github.com/hapijs/hapi/blob/master/API.md#serverauthschemename-scheme)
And since on `!isValid` there is an unauthorized error with message, hapi w

[2016-07-28 15:30] johnbrett commented on #87
In your `validateFunc` can you pass to token to the `artifacts` argument, like in this test? https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/test/index.js#L50-L53

[2016-07-28 15:31] AdriVanHoudt commented on #87
hmm I read about it but did not fully understood the meaning of artifacts. If this is just a container that is not used elsewhere then that works for me.

[2016-07-28 15:34] johnbrett commented on #88
This must be new, or I certainly haven't seen it before! `"If the err does not include a message but does include a scheme name (e.g. Boom.unauthorized(null, 'Custom')), additional strategies will be attempted in order of preference."`

By my understanding of this you're correct in the assumption here. Are you hoping to do chaining here? What's your use case, maybe I can help? :)

[2016-07-28 15:36] johnbrett commented on #87
Yeah it's just there to contain extra auth information, so sounds like it would be perfect for this use case. If it's somehow not, let me know though!

[2016-07-28 15:38] AdriVanHoudt commented on #88
Yes we are doing chaining, we have a separate strategy for private and public usage of certain routes of our api. We try private first then public.

I have quickly updated auth-simple (out of business needs) but I am in favor of just one to rule them all :D

[2016-07-28 15:40] johnbrett commented on #88
Happy to give you write access on this if you've any changes you'd like to make? http://openopensource.org/ FTW ;)

[2016-07-28 15:43] AdriVanHoudt commented on #88
that would be cool, it would involve removing the error message and exposing the token in artifacts by default I guess

[2016-07-28 15:44] #87 closed

[2016-07-28 15:50] johnbrett commented on #88
can you not pass in the token in the application code to artifacts? e.g.

[code]

[2016-07-28 16:58] AdriVanHoudt commented on #88
I could but it would be easier if the plugin did it by default

[2016-07-29 00:26] koresar commented on #87
Hey, great to see we're not the only who needed the artefacts! :)
@AdriVanHoudt you might find this PR relevant: https://github.com/johnbrett/hapi-auth-bearer-token/pull/76
It's got links and quotes form the docs.

[2016-07-29 07:07] AdriVanHoudt commented on #87
@koresar thanks for the link! really interesting!

[2016-07-29 07:08] AdriVanHoudt commented on #88
hmm not sure maybe @koresar knows since he has clearly used it before

[2016-07-29 07:48] koresar commented on #88
We do not use chaining. I would not recommend using that Hapi feature either. You would rely on some deeper Hapi mechanism - breaking change may happen there. Or you would need to change the chaining mechanism slightly (e.g. second auth schema depends on the artefacts of the first auth schema). Etc.

We did a wrapper NPM module around this module where we could implement our chaining if needed. So

[2016-07-29 08:59] AdriVanHoudt commented on #88
This is a documented and handy feature, I don't see a problem relying on it.
You stated that the second scheme relies on the first one? How so?

Our server expect credentials to be the user object atm so changing that is not something I plan on doing ;)

The question I had was more about the effect of setting artifacts and if hapi does something special with it (with or without chaining)

[2016-07-29 09:25] johnbrett commented on #88
@AdriVanHoudt nice work, I left some feedback on the PR. I think it's a documented feature of the framework so happy for this plugin to support it.

I do think it's bad practice for a second auth scheme to depend on the first also, but I don't think that's what users will use chaining for.

[2016-07-29 09:41] AdriVanHoudt commented on #88
Yeah they should not depend on each other and if artifacts do this then that would not be a solution

[2016-07-30 13:24] #88 closed

[2016-07-30 13:29] johnbrett commented on #88
This was fixed with https://github.com/johnbrett/hapi-auth-bearer-token/pull/89. Great work @AdriVanHoudt, and good catch on checking for multiple strategies for route as well!

[2016-07-31 11:28] AdriVanHoudt commented on #88
@johnbrett was my pleasure! And this works out better than what I had on hapi-auth-bearer-simple 🔥 oss ftw

[2016-08-05 14:12] ahmad-moussawi commented on #16
@johnbrett thanks for this, very useful.
https://github.com/johnbrett/hapi-level-sample/blob/master/plugins/authentication/index.js

[2016-08-05 14:19] johnbrett commented on #16
No prob @ahmad-moussawi - thanks for letting me know it was useful, makes it all the worthwhile :)

[2016-09-19 10:24] johnbrett opened #98 "Make option allowQueryToken false by default."
When this module was created it was just more for allowing token parse by query token than header, but usage and configurability has grown since and should be treated as more secure by default now. As a result, all options for extra areas to parse security tokens should be specifically opt-in so the module is locked down to only header auth by default.

[2016-09-19 10:29] johnbrett opened #99 "Use joi schema to validate the authentication options."
`github.com/hapijs/joi` makes schemas much more readable, easier to test and reduce the likelihood of unintended bugs.

When this module was first written, it had one or two options, meaning it didn't really need a joi schema. This has since grown and it would now be worth adding a `joi` schema and validate this when registering an auth method.

Note: This doesn't add any performance hit per reque

[2016-09-19 10:49] AdriVanHoudt commented on #99
I can also help new contributors!

[2016-10-06 03:38] jonathansamines commented on #99
Hey @johnbrett I´d like to help working with this one! I´ll PR later with this change

[2016-10-11 17:55] johnbrett commented on #99
Closed via https://github.com/johnbrett/hapi-auth-bearer-token/issues/101

[2016-10-11 17:55] #99 closed

[2016-10-11 18:01] johnbrett opened #103 "Add tests for no validateFunc or bearer options provided"

[2016-10-11 18:02] #103 closed

[2016-10-11 18:03] johnbrett commented on #103
@jonathansamines FYI these are what the tests would look like if you were curious ;)

[2016-10-20 19:14] dciccale opened #104 "Error: Unknown authentication strategy simple in /"
Copy & paste the example on the README and run it with node

Hapi v15.1.1

apparently now register truly runs async, so trying to register routes before it finishes to register the auth strategy fails, could you update your example?

[2016-10-21 09:12] johnbrett commented on #104
Excellent spot @dciccale - will do.

[2016-10-21 09:32] dciccale commented on #104
thanks!

[2016-12-12 21:57] gamtiq opened #112 "Omission in signature of callback parameter of validateFunc"
`artifacts` argument is absent in signature of `callback` parameter of `validateFunc` in `README.md`:

[2016-12-13 21:06] AdriVanHoudt opened #113 "enable new greenkeeper bot"
Seeing the amount of PR's from greenkeeper it would make sense to enable the new bot (https://github.com/integration/greenkeeper) which ammends 1 PR per module update
See https://github.com/Salesflare/hapi-csv/pull/11 for example

@johnbrett since you are the owner you'll have to do it ^^

[2016-12-20 10:58] johnbrett commented on #113
I was on vacation the last while, will update all these PR's this week @AdriVanHoudt, thanks for the good work!

[2016-12-20 12:34] AdriVanHoudt commented on #113
@johnbrett ah I see, hope you had a nice vacation 🏖 😎
I could merge them myself nextime as well if you'd like

[2017-01-16 22:53] AdriVanHoudt commented on #104
fixed by https://github.com/johnbrett/hapi-auth-bearer-token/commit/7d0102339ba47d0377b25bc0239714c0c1034208

[2017-01-16 22:53] #104 closed

[2017-01-16 22:55] #112 closed

[2017-01-18 14:45] johnbrett commented on #113
Sorry for delay on this - and thanks for pointing out the new greenkeeper bot! It's been added now!

[2017-01-18 14:45] #113 closed

[2017-02-28 05:55] #98 closed

[2017-03-01 10:00] AdriVanHoudt opened #124 "Chaining multiple queryToken strategies does not work"
Since the query token get's deleted here: https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/lib/index.js#L55 the next strategy looking for it simply can't find it.
Not sure how to fix this but I think the easiest is to delete it only just before a successful auth here https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/lib/index.js#L94

[2017-03-16 09:40] 1010systems opened #127 "can we skip some routes from authentication"
Hello,

we are using AuthBearer plugin for authentication. can we skip some routes from the authetication?
something like
[code]

or
`auth : false`

Thanks in advance.

[2017-03-16 09:59] johnbrett commented on #127
Yes on the route definition, you can set auth to false, so authentication won't apply to that route.

Example: https://github.com/johnbrett/Getting-Started-with-hapi.js/blob/master/Chapter%205%20-%20Authentication%20%26%20Authorization/example%201%20-%20hapi-auth-basic/lib/routes.js#L5-L13.

[2017-03-16 10:00] #127 closed

[2017-05-06 11:14] johnbrett commented on #124
I'll take a look at this on Monday @AdriVanHoudt! Sorry for delay, I'm way behind on OSS, thanks for opening this 👍

[2017-05-06 12:42] AdriVanHoudt commented on #124
np!

[2017-05-30 20:54] greenkeeper[bot] opened #131 "An in-range update of hapi is breaking the build 🚨"
## Version **16.3.0** of [hapi](https://github.com/hapijs/hapi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/johnbrett/hapi-auth-bearer-token/compare/greenkeeper%2Fhapi-16.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      hapi
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-06-08 16:29] greenkeeper[bot] opened #132 "An in-range update of code is breaking the build 🚨"
## Version **4.1.0** of [code](https://github.com/hapijs/code) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/johnbrett/hapi-auth-bearer-token/compare/greenkeeper%2Fcode-4.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      code
    </td>
  </tr>
  <tr>
    <th align=left>
      Cur

[2017-07-10 20:46] #131 closed

[2017-07-10 20:46] #132 closed

[2017-07-20 08:44] greenkeeper[bot] opened #134 "An in-range update of hapi is breaking the build 🚨"
## Version **16.5.0** of [hapi](https://github.com/hapijs/hapi) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/johnbrett/hapi-auth-bearer-token/compare/greenkeeper%2Fhapi-16.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      hapi
    </td>
  </tr>
  <tr>
    <th align=left>
      C

[2017-09-07 17:10] RicardoGeek opened #135 "Remove .vscode and add changelog"
Remove .vscode from versioning and add it go .gitignore
Add a changelog to the project :)

[2017-09-08 09:01] AdriVanHoudt commented on #135
A PR for removing the .vscode folder is welcome (unless @johnbrett has an actual reason to have it in the repo?)
The changelog is up to him as well ^^

[2017-09-08 19:04] #134 closed

[2017-09-10 16:36] johnbrett commented on #135
Hi @RicardoGeek,

My reasoning behind the .vscode, I leave that in my projects so anyone who wants to debug tests have the option to do so on opening of the repo easily, just open project in vscode, set a breakpoint, run. No need to configure launch files etc. I see no real downsides of this being there - but happy to listen any complaints or reasoning why it should be removed.

I could see reason

[2017-09-10 16:36] #135 closed

[2017-09-18 15:12] CatherineMadden opened #139 "Did you get my message?"
Hi John

I've sent you an email on UXDX a few days ago and I'm wondering if you had a chance to read it; I'm afraid it might have been marked as spam.

I would like to say thank you for being involved in Open Source and discuss something regarding our conference.

Could you please double check your email or drop me a message at catherine@uxdxconf.com?

Thanks in advance,
Catherine

[2017-09-18 16:55] johnbrett commented on #139
Hi Catherine,

I hadn't seen your email, it had indeed been marked in my spam folder. Will drop you an email.

- John

[2017-09-18 16:55] #139 closed

[2017-10-04 16:19] LovikaJain commented on #16
I am trying to use this module to enable bearer token on my app. However, I am getting the error shown in the title.

I am trying to implement this module to enable token authorisation in my app But I am getting error mentioned below
e:\python_training\Training\Node\Test\Project\Backend\node_modules\hapi\node_modules\hoek\lib\index.js:723

I have a route file
[```
module.exports = [
    {

[2017-10-04 16:56] johnbrett commented on #16
you mention: `var bearerSimple= require('hapi-auth-bearer-simple')`

`hapi-auth-bearer-simple` is a different module to this one, this is `hapi-auth-bearer-token`.

You're best off opening an issue on their repo: https://github.com/Salesflare/hapi-auth-bearer-simple ;)

[2017-10-04 16:58] LovikaJain commented on #16
Yeah just noticed thanks :)

[2017-11-14 11:26] johnbrett opened #146 "v6 Release Notes"
`hapi-auth-bearer-token` v6 Drops support for hapi < v17 and Node < 8, due to the nature of the hapi v17 rewrite: https://github.com/hapijs/hapi/issues/3658.

### breaking changes:
- `validateFunc` is renamed to `validate`. The Func suffix was an old convention to signify a function to be passed in here. This much cleaner and less intimidating to new users.
- `unauthorizedFunc` is renamed to `unau

[2017-11-14 11:30] #146 closed

[2017-11-15 22:47] randyxli opened #147 "Undefined token passed to validate function"
In version 4.3.1 with default options, I noticed that when the `Authorization` header is just `Bearer`, the `token` parameter that is passed to the `validate` function is `undefined`. Looking through the code, it seems to me that this is the case for current master as well. Although this behavior is reasonable, I wonder if it would be more appropriate to reply with `Boom.unauthorized`? I don't see

[2017-11-15 23:38] johnbrett commented on #147
Nice spot, and agreed. Will update this.

[2017-11-15 23:50] johnbrett commented on #147
This is fixed in v 6.0.1: https://github.com/johnbrett/hapi-auth-bearer-token/commit/526edcf8fb6b692adb335d0f81681962358506b7#diff-6d186b954a58d5bb740f73d84fe39073R74 Thanks for creating the issue 👍

[2017-11-15 23:50] #147 closed

[2017-11-17 06:24] Blynskyniki opened #148 "Version 6.0.1 typescript not job"
Helllo. I am using hapi and typescript . Version 6.0.1 not job. Error impossible to find register of undefinded

[2017-11-17 06:25] Blynskyniki commented on #148
Version 5.0.0 functions normally

[2017-11-17 07:21] randyxli commented on #147
No problem, thanks for the quick fix!

[2017-11-17 11:20] johnbrett commented on #148
ok, I will need an example to reproduce this to debug. Can you create a project where this is failing with version 6.0.1 but works with version 5.0.0?

[2017-11-17 20:51] wozuo opened #149 "Required plugin"
Hi,

Thanks for your project I appreciate it 👍🏻 I have a problem getting it to work though, I'm trying to add authentication to an existing API Hapi project. This is my implementation of server.register:
[code]

And this is the error I'm getting:
[code]

I hope you can help me out.
Cheers

[2017-11-17 21:34] wozuo commented on #149
Ah the problem was I'm not using hapi 17 yet. Tried it with version 5.1.0 and it works 👍🏻 Thanks

[2017-11-17 21:34] #149 closed

[2017-11-18 12:38] johnbrett commented on #149
@wozuo I was about to suggest it was the version mismatch. Glad you got it sorted! Do you think there's anything I can do to make this clearer to new users btw?

[2017-11-18 13:27] wozuo commented on #149
@johnbrett Yea I think including the information in the readme is a good idea (I see you already did that 👍🏻), I didn't read the v6 release notes at first.

[2017-11-18 13:55] johnbrett commented on #149
Yeah, it was after you opened this issue and I glanced at the README I released I never read the release notes when first using a module either! Thanks for the feedback!

[2017-11-18 14:02] johnbrett commented on #148
I'm guessing the issue here is you're using v6 of this module with a hapi version 16 or below, this is documented in the release notes: https://github.com/johnbrett/hapi-auth-bearer-token/issues/146.  I'm going to close this unless you can provide more information about versions or a project where this is failing.

[2017-11-18 14:02] #148 closed

[2017-11-24 01:18] ilovett opened #150 "add git tags that match published versions"
Can you please add tags to commits of published versions after `4.1.0` ?

[2017-11-24 08:25] AdriVanHoudt commented on #150
npm version should do this by default, maybe forgot to  push the tags?

[2018-01-04 15:12] greenkeeper[bot] opened #151 "An in-range update of joi is breaking the build 🚨"
## Version **13.1.0** of [joi](https://github.com/hapijs/joi) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/johnbrett/hapi-auth-bearer-token/compare/greenkeeper%2Fjoi-13.1.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      joi
    </td>
  </tr>
  <tr>
    <th align=left>
      Curre

[2018-01-05 17:33] AdriVanHoudt commented on #151
I restarted the job and works now, CI hiccup

[2018-01-05 17:33] #151 closed

[2018-01-06 11:52] johnbrett commented on #151
Some heroes don't wear capes! cheers @AdriVanHoudt!!

[2018-01-11 23:22] wy193777 commented on #146
Didn't mention the plugin expect validateFunc have a callback as the last parameter and need to be called with signature
[code]
before 6.0.

[2018-01-12 14:06] johnbrett commented on #146
Hi @wy193777 is this a question or any observation? I'm not sure I understand what you are looking for.

The following is a screenshot of the README before 6.0, where `validateFunc` and the callback signature are underlined:

![image](https://user-images.githubusercontent.com/4015939/34878327-b6b18c74-f7a1-11e7-91d0-53aad1c86ed2.png)

https://github.com/johnbrett/hapi-auth-bearer-token/blob/8da70a

[2018-01-12 18:49] wy193777 commented on #146
I mean put this difference here or have a link to the 5.x.x document on README.md would be better. Find the right commit from commit list isn't a very good experience.

[2018-01-17 17:07] johnbrett commented on #146
Updated the release notes, thanks for pointing it out.

[2018-03-17 19:43] manju4ever opened #152 "if validation fails, please make credentials object to be optional"
Lets assume in the validate function the validity is proven to be wrong. The plugin still expects a `credentials` object to be passed even if  `isValid:false`.
Even though the function is called with the response toolkit, using something like `return h.response().code(401)` does not work as expected.

[2018-06-29 12:23] johnbrett commented on #152
Have you a code sample to explain what issue you're encoutering @manju4ever ? Apologies for delay in getting back to you on this.

[2018-06-29 12:29] johnbrett commented on #150
pushed, thanks @ilovett !

[2018-06-29 12:29] #150 closed

[2018-07-17 19:31] robinvdvleuten commented on #152
I ran into the same issue; when the token is invalid according to my business logic I do something like the following.

[code]

But unfortunately, the `hapi-auth-bearer-token` throws me the following error;

[code]

As Hapi expects a valid credentials object to be passed IF a data object is passed as optional argument (https://hapijs.com/api#-hunauthenticatederror-data).
This should easily be fixa

[2018-07-18 12:03] johnbrett commented on #152
Why can't you return a credentials object with invalid false, if you don't want to return the actual credentials object? e.g.
[code]

[2018-07-18 12:07] johnbrett commented on #152
If this doesn't work, if you can submit a PR with a failing test I will take a look.

[2018-07-19 16:22] robinvdvleuten commented on #152
@johnbrett that's the way I have it now and that works, but it feels inconsistent with Hapi's own authentication strategies like hapi-auth-cookie.

[2018-07-24 11:20] johnbrett commented on #152
This is how `hapi-auth-basic` also works, so I'm not sure how it's inconsistent: https://github.com/hapijs/hapi-auth-basic/blob/master/lib/index.js#L74-L78

[2018-07-27 12:06] johnbrett commented on #152
I'm going to close this due to inactivity, happy to continue the conversation, but I don't believe this to be an issue. Open to being persuaded otherwise though.

[2018-07-30 15:56] greenkeeper[bot] opened #154 "An in-range update of joi is breaking the build 🚨"
## Version **13.5.0** of **joi** was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="https://github.com/johnbrett/hapi-auth-bearer-token/compare/master...johnbrett:greenkeeper%2Fjoi-13.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </th>
    <td>
      <a target=_blank href=https://github.com/hapijs/joi>

[2018-07-31 11:08] johnbrett commented on #154
Merged 13.5.2 as dep.

[2018-07-31 11:08] #154 closed

[2018-07-31 11:08] #152 closed

[2018-08-29 19:56] johnbrett commented on #124
closed via https://github.com/johnbrett/hapi-auth-bearer-token/pull/156

[2018-08-29 19:56] #124 closed

[2018-09-24 13:45] wkocmann opened #160 "Error 500 on invalid token"
A request with an invalid token results in

{"statusCode":500,"error":"Internal Server Error","message":"An internal server error occurred"}

due to the line

                return h.unauthenticated(settings.unauthorized(message, settings.tokenType), { credentials, artifacts });

if is is changed to

                return h.unauthenticated(settings.unauthorized(message), { credentials, artifacts

[2018-09-30 10:47] johnbrett commented on #160
It's interesting that this did not pop up before now, or whether this was a recent change caused this. Can you submit a failing test for this, I'd like to check this out?

[2018-10-02 12:51] wkocmann commented on #160
I'm using it with hapi-swagger and the options object as a response property. Your test does fail if I modify the test this way:

            { method: 'GET', path: '/always_reject', handler: defaultHandler, options: { auth: 'always_reject', response: {
                status: {
                  401: {
                    statusCode: 401,
                    error: 'Unauthorized',

[2018-10-02 12:54] wkocmann commented on #160
but the Error 500 only appears if there is a response for 401

[2018-10-05 04:09] nvs2394 commented on #160
I got same issue.
When I check token invalid it always return 500 internal server error.
Do you have any update ?

[2018-10-05 08:44] kraniebrud commented on #160
I just made a token in my project to test this, I set my jwt with a very short expiration. When I hit up a route through my swagger gui (hapi-swagger) this is the response that I get from it
[code]
If change my header bearer with some nonsense or nothing at all I get
[code]
When I try the exact same with curl to those endpoints I get the same response as when using swagger.

This is the version th

[2018-10-05 09:35] kraniebrud commented on #160
From that the test you mentioned would probably more be expected to be
[code]
if you wish it to be
[code]
Try to write a custom unauthorized function for hapi-auth-bearer-token, in the options like this
[code]

Let me know if this changed anything :)

[2018-10-05 12:16] wkocmann commented on #160
Actually the custom unauthorized is working

[2018-10-05 14:14] kraniebrud commented on #160
Oh shoot. Would have made sense though. Did you change the first argument in the unauthenticated function ?
If it is changed to something custom, it will produce the attribute object to the response. Not very intuitive I know :/

[2018-10-05 14:20] Alexis-Bize commented on #160
According to the documentation, the `credentials` node is mandatory, even if your token is invalid. Without it, the server will respond with an error 500.

[code]

[2018-10-05 15:49] kraniebrud commented on #160
If so it seems to be familiar to this one https://github.com/johnbrett/hapi-auth-bearer-token/issues/152 ?

[2018-10-05 17:16] wkocmann commented on #160
I my case the credentials property is present.

[2018-10-10 09:23] Pyy-admin opened #161 "Double validation error"
auth: {
       strategies: ['admin','user']
 },
The problem I met was the first admin to verify, but the second user was invalid.

[2018-10-23 20:57] greenkeeper[bot] opened #167 "An in-range update of code is breaking the build 🚨"
## The devDependency [code](https://github.com/hapijs/code) was updated from `5.2.0` to `5.2.1`.

🚨 [View failing branch](https://github.com/johnbrett/hapi-auth-bearer-token/compare/master...johnbrett:greenkeeper%2Fcode-5.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

code is a devDependency of this project. It **mi

[2018-11-01 07:31] greenkeeper[bot] opened #169 "An in-range update of boom is breaking the build 🚨"
## The dependency [boom](https://github.com/hapijs/boom) was updated from `7.2.0` to `7.2.1`.

🚨 [View failing branch](https://github.com/johnbrett/hapi-auth-bearer-token/compare/master...johnbrett:greenkeeper%2Fboom-7.2.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

boom is a direct dependency of this project, and **

[2018-11-01 23:25] greenkeeper[bot] opened #170 "An in-range update of hapi is breaking the build 🚨"
## The devDependency [hapi](https://github.com/hapijs/hapi) was updated from `17.6.0` to `17.6.1`.

🚨 [View failing branch](https://github.com/johnbrett/hapi-auth-bearer-token/compare/master...johnbrett:greenkeeper%2Fhapi-17.6.1).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

hapi is a devDependency of this project. It *

[2018-11-07 15:32] ssanchezmarc opened #171 "Exception when allowChaining is true and the strategies are defined via default auth value"
In our use case, we are trying to define two auth strategies to be validated one before other. Defining hapi-auth-bearer-token validation as the first one, we have seen that it is possible using the flag `allowChaining`. If the bearer token received in not a valid token, try the second one before saying that the token is not valid.

[code]

It we define the strategies in each route, it works as we

[2018-11-21 21:13] daguiheso commented on #146
Good afternoon

I would like to know how I should create a bearer token?

[2018-11-22 12:32] johnbrett commented on #161
I need more details to be able to offer any advice on this, are you sure this is an issue with this library or how hapi resolves multiple strategies? I'll close this for now, but please re-open if you have more details to add.

Apologies for delay in getting back to you on this.

[2018-11-22 12:32] #161 closed

[2018-11-22 12:36] johnbrett commented on #160
I'm back and can deal with this now, sorry for delay on this. @kraniebrud thanks for jumping in and debugging this!

@wkocmann is this still an issue for you?

[2018-11-22 12:40] johnbrett commented on #171
@ssanchezmarc this should be resolved in the latest release: https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/lib/index.js#L85

can you verify it's still an issue? I'm going to close this, but please feel free to re-open if it's a problem. Thanks for opening this issue and apologies for the delay in getting back to you.

[2018-11-22 12:40] #171 closed

[2018-11-22 12:59] #167 closed

[2018-11-22 12:59] #169 closed

[2018-11-22 13:00] #170 closed

[2018-11-22 14:12] wkocmann commented on #160
it is still an issue, have you tried to test with

[code]

[2018-11-22 15:15] marcuspoehls commented on #160
@johnbrett Hey John, I just ran into the same issue. When returning `{ isValid: false }` and nothing else from the validate function, the plugin crashes. It's because you're taking `credentials` out of the returned object from the validate function and just pass it through to the `h.unauthenticated()` call.

Should I go for a PR? Or do you fix it on your own?

Let me know if I can help any further

[2018-11-22 15:36] johnbrett commented on #160
Would be delighted if you could provide a PR @marcuspoehls thanks a mil!!

[2018-11-22 15:57] marcuspoehls commented on #160
@johnbrett Opened the PR. If anything doesn't match your idea, let's change it :)

[2018-11-22 16:22] #160 closed

[2018-11-22 16:23] johnbrett commented on #160
That's perfect @marcuspoehls ! Thanks! merged and will publish a new version asap

[2018-11-22 22:17] marcuspoehls commented on #160
@johnbrett Awesome! Thank you!

[2018-11-23 16:53] johnbrett commented on #160
Published in v6.1.1

[2018-11-26 09:16] marcuspoehls commented on #160
Thank you!

[2018-11-26 09:46] wkocmann commented on #160
Thanks

[2019-07-29 12:05] itsgracian opened #188 "How to customize own error?"
Hello,
I have used hapi-auth-bearer-token, it is working, but I want to ask something, is it possible to generate our own error message once authentication failed?  instead of returning messages like this
`
{
    "statusCode": 401,
    "error": "Unauthorized",
    "message": "Bad token",
    "attributes": {
        "error": "Bad token"
    }
`
if it is possible how? thanks.

[2019-07-29 12:12] johnbrett commented on #188
Can you give me an example of what you'd like your error to look like?

[2019-07-29 12:14] johnbrett commented on #188
likely you're looking for something that hapi itself would handle though, not this library: https://hapijs.com/api#error-transformation

[2019-07-29 18:08] johnbrett commented on #188
Ok going to close as I think the above link answers the question, feel free to continue the conversation if you have more questions though.

[2019-07-29 18:08] #188 closed

[2019-07-30 09:41] itsgracian commented on #188
@johnbrett error message would look like this
`{ "statusCode": 401, "error": "Unauthorized", "message": "sorry you must be authenticated" }`

[2019-07-30 09:41] itsgracian commented on #188
`{ "statusCode": 401, "error": "Unauthorized", "message": "sorry you must be authenticated" }`

[2019-07-30 09:58] itsgracian commented on #188
I had another question, after registering AuthBear Token and use it, how should I access information of the authenticated user in other routes.
here is my code
`await server.register(AuthBearer);
    //register authbear strategy
    server.auth.strategy('simple', 'bearer-access-token', { validate: async(req, token , h) => {
  //decode token
    const decode = jwt.verify(token, secretOrKey);
    co

[2019-07-30 11:10] johnbrett commented on #188
have you read the hapi docs? This is all in the request object: https://hapijs.com/api#request.auth

I'd read the entire hapijs API docs before doing anything else, it doesn't take that long and will likely answer any further questions you have

[2019-07-30 12:26] itsgracian commented on #188
I am reading it, hopefully, I am going to solve this problem. thank you.

[2020-01-14 17:42] bricss opened #200 "Update & bump 🏷"
Update & bump is badly needed to comport with newest hapi ecosystem. 🔩

[2020-01-20 22:23] johnbrett commented on #200
Hey sorry, swamped at the moment. Will hopefully get to it this week, but PR's always welcome!

[2020-01-28 12:10] johnbrett commented on #200
6.1.4 is out: https://github.com/johnbrett/hapi-auth-bearer-token/commit/3345520c3568a212a668d0fc37397c1354561431

Let me know if anything further needed!

[2020-01-28 12:10] #200 closed

[2020-07-08 04:06] haruharuya opened #206 ""Error 500, invalid token, data null" when recalling the previous token in Alamofire"
I save my login token with UserDefault. Here is the code :

                AF.request(encodeURL, method: .post, parameters: nil, headers: headers, interceptor: nil)
                .responseString { response  in

                    switch response.result{
                    case .success(_):
                        if let json = response.value{
                            UserDefaults.standard.

[2020-07-20 20:44] hspatel09 opened #208 "allowMultipleHeaders: true should allow read two headers as array in token"
allowMultipleHeaders: true should allow read two headers as array in token
e.g.Authorization: Token1 AF6C74D1-BBB2-4171-8EE3-7BE9356EB018; Token2 12345678

should give me token array with token[0] AF6C74D1-BBB2-4171-8EE3-7BE9356EB018
and token[1] 12345678

[2020-07-20 23:27] johnbrett commented on #208
This is not really enough information to do much here, are you saying it's not working as expected? Happy to take a PR with a broken test or fix to improve things here.

[2020-07-20 23:28] johnbrett commented on #206
I don't see how this is related to this library

[2020-07-20 23:29] #206 closed

[2020-07-20 23:32] johnbrett commented on #208
https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/test/index.js#L257 you can see how multiple headers works here.

[2020-07-20 23:33] johnbrett commented on #208
I won't be changing behaviour here to return an array, that's a breaking change, I'd need to understand a valid use case.

[2020-07-20 23:33] #208 closed

[2020-07-24 03:12] hspatel09 commented on #208
I have server which requires two tokens lets say bearertoken and refreshtoken as request headers, I want to ready them one by one in method or in array  created in validateFunc : validateAuth . How do I do that ?
I modified you multiple header test case like this,
const request = { method: 'GET', url: '/multiple_headers_enabled', headers: { bearer: 'AF6C74D1-BBB2-4171-8EE3-7BE9356EB018 ,refresh 12

[2020-07-26 21:19] johnbrett commented on #208
Yeah we only return the specific token here:

https://github.com/johnbrett/hapi-auth-bearer-token/blob/master/lib/index.js#L65-L72

Easiest option might be to just clone this library, and you could update the linked lines here to return both tokens?

[2020-08-26 04:33] eric-swann-q2 opened #209 "Library does not work with the new independent "joi" library which has now split from @hapi/joi"
Library does not work with the new independent "joi" library which has now split from @hapi/joi.

This lib has dependencies on @hapi/joi and @hapi/boom.
The @hapi/joi dependency in particular causes a collision when using the new joi library as joi detects two versions and throws an exception.

Solution: Instead set both of the libraries as peer dependencies for maximum flexibility and reference "

[2020-09-29 21:38] johnbrett commented on #209
Resolved by https://github.com/johnbrett/hapi-auth-bearer-token/pull/210

Released in v8.0.0.

[2020-09-29 21:38] #209 closed

[2020-10-16 15:46] AdriVanHoudt opened #211 "version 8.0.0"
Hi,

I'm seeing a new version (8.0.0) on npm but I don't see this on this repo?
Was there a push forgotten or something?
Just want to make sure v8 is a legit version :D

[2020-10-16 15:55] johnbrett commented on #211
Just pushed there, sorry 😅

On Fri, 16 Oct 2020, 17:46 Adri Van Houdt, <notifications@github.com> wrote:

[2020-10-16 15:58] AdriVanHoudt commented on #211
haha no worries ✨

[2020-10-16 15:58] #211 closed

[2020-10-16 16:13] johnbrett commented on #211
Thanks for this Adri!

On Fri, 16 Oct 2020, 17:58 Adri Van Houdt, <notifications@github.com> wrote: